
#hi{
    color: blue
}
#box1{
  
    border: 1px solid;
    height: 300px;
    width: 500px;
    background-color: red;

    
}
#box2{
  
    border: 1px solid;
    height: 200px;
    width: 400px;
    background-color: rgb(68, 0, 255);
    margin: auto;
    margin-bottom: auto;

    
}